@font-face {
    font-family: "norse-bold";
    src: url("./fonts/norse-bold-webfont.woff2") format("woff2"),
         url("./fonts/norse-bold-webfont.woff") format("woff");
}

:root {
    height: 100%;
    --form-padding-left: 3rem;
    --form-padding-right: 8rem;
    --main-font: 'Lucida Sans',
                 'Lucida Sans Regular',
                 'Lucida Grande',
                 'Lucida Sans Unicode',
                 Geneva,
                 Verdana,
                 sans-serif;
    --light-green: #819d67;
    --dark-green: #596d48;
    --offwhite: #fefefe;
    --background: #f9fafb;
    --light-gray: #e5e7eB;
    --dark-blue: #1f2937;
    --label-gray: #575858;
    --error-red: #c13838;
}

body {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100%;
    background: var(--background);
}

#sidebar {
  height: 100vh;
  width: 40vh;
}

#sidebar > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#sidebar > .logo-group {
    display: flex;
    align-items: center;
}

#sidebar > .logo-group > h1 {
    font-family: "norse-bold";
    font-size: 4em;
}

#signup-form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--main-font);
}

#signup-form-header {
  font-weight: bold;
  font-size: 1.4rem;
  padding-left: var(--form-padding-left);
  padding-right: var(--form-padding-right);
  margin-bottom: 2em;
}

#signup-form-wrapper > #login-text {
  font-weight: 500;
  font-size: 1rem;
  padding-left: var(--form-padding-left);
  margin: 1.5rem 0rem 0rem 0rem;
}

#signup-form-wrapper > #login-text > a {
  color: var(--dark-green);
  text-decoration: none;
  font-weight: 600;
}

#signup-form-inputs {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.form-row {
  display: flex;
  gap: 3em;
}

#create-account {
  margin-top: 2rem;
  padding: 1rem 3.5rem;
  color: var(--offwhite);
  background: var(--dark-green);
  border: none;
  border-radius: 6px;
  font-weight: bold;
  font-size: 1rem;
  box-shadow: 2px 2px 8px #aaaa;
}
#create-account:hover {
  background: var(--light-green);
}

#form-submission {
  padding-left: var(--form-padding-left);
}

fieldset {
  position: relative;
  margin: 0px;
  border: none;
  padding: 4em
           var(--form-padding-left)
           2em
           var(--form-padding-left);
  box-shadow: 2px 2px 8px #aaaa;
  background: #fff;
}

legend {
  position: absolute;
  top: .8rem;
  left: var(--form-padding-left);
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 1.4rem;
  color: var(--dark-blue);
}

label {
  display: block;
  color: var(--label-gray);
  font-family: var(--main-font);
  font-size: 0.7em;
  font-weight: bold;
  letter-spacing: 0.1rem;
  margin-bottom: 0.1rem;
}

input {
  border-style: solid;
  border-color: var(--light-gray);
  border-width: 1px;
  border-radius: 3px;
  font-size: 1rem;
  padding: 0.3rem 0.4rem;
  width: 240px;
}

input[type="password"]:valid {
  border-color: var(--light-gray);
}

input:focus,
input.error:focus {
  border-color: #4a6ed6;
  box-shadow: 2px 2px 4px #aaaa;
  outline: none;
}

input.error {
  border: 1px solid var(--error-red);
}