@font-face {
  font-family: "norse-bold";
  src: url("./fonts/norse-bold-webfont.woff2") format("woff2"),
        url("./fonts/norse-bold-webfont.woff") format("woff");
}
:root {
  --standard-shadow: 3px 3px 8px #bfc2c2;
  --form-padding-left: 3rem;
  --form-padding-right: 10rem;
  --main-font: 'Lucida Sans',
               'Lucida Sans Regular',
               'Lucida Grande',
               'Lucida Sans Unicode',
               Geneva,
               Verdana,
               sans-serif;

  --offwhite: #fefefe;
  --background: #f9fafb;
  --light-gray: #e5e7eB;
  --dark-green: #1c383b;
  --label-gray: #575858;
  --focus-blue: #4a6ed6;
  --button-background: #e52da6;
  --button-hover: #ec5bba;
  --button-click: #f6c628;
  --error-red: #c13838;
}
html {
  height: 100%;
}
body {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100%;
  background: var(--background);
}

/* Sidebar stuff */
#sidebar {
  width: 50%;
  min-width: 300px;
  position: relative;
  overflow: hidden;
}
#sidebar > img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}
#logo-group {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1vh;
  padding-bottom: 1vh;
  width: 100%;
  height: 120px;
  object-fit: contain;
  background: rgba(31, 41, 55, 0.6);
  position: absolute;
  top: 20vh;
}
#odin-logo {
  height: 100%;
  object-fit: contain;
}
#logo-text {
  color: var(--offwhite);
  font-family: "norse-bold";
  font-size: 6rem;
}

/* Account creation form */
#form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--main-font);
}
#form-header {
  padding-left: var(--form-padding-left);
  padding-right: var(--form-padding-right);
  font-size: 1.5rem;
  font-weight: 600;
}
fieldset {
  margin: 2rem 0rem 0rem 0rem;
  border: 0px;
  padding: 4rem 0px 2em var(--form-padding-left);
  background: #fff;
  box-shadow: var(--standard-shadow);
  position: relative;
}
legend {
  font-size: 1.5rem;
  font-weight: 600;
  color:var(--dark-green);
  position: absolute;
  top: 1rem;
}
label {
  display: block;
  font-size: .7rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: var(--label-gray);
}
#login-text {
  padding-left: var(--form-padding-left);
  margin: 0;
}
#login-text > a {
  color: var(--button-background);
  font-weight: 600;
  text-decoration: none;
}

/* Input fields */
#user-inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form-row {
  display: flex;
  gap: 3rem;
}
input {
  font-size: 1rem;
  padding: 0.4rem 0.6rem;
  border: solid 1px var(--light-gray);
  border-radius: 3px;
  width: 240px;
}
input.error {
  border-color: var(--error-red);
}
input:focus {
  outline: none;
  border-color: var(--focus-blue);
  box-shadow: 1px 1px 3px #bfc2c2;
}
.required::after {
  font-weight: 600;
  content: "*";
}
fieldset > p {
  color: var(--label-gray);
  font-size: 0.9em;
  margin-top: 0em;
  margin-bottom: 2em;
}

/* Buttons */
button {
  align-self: flex-start;
  margin-top: 2rem;
  margin-left: var(--form-padding-left);
  margin-bottom: 2rem;
  padding: 1em 3.5em;
  border-style: none;
  border-radius: 6px;
  font-size: 1em;
  font-weight: 600;
  color: var(--offwhite);
  background: var(--button-background);
  box-shadow: var(--standard-shadow);
}
button:hover {
  background: var(--button-hover);
}
button:active {
  background: var(--button-click);
}